.box,
#box-1,
#box-2 {
  height: 200px;
  border: 1px solid #ccc;
  margin-top: 10px;
}

#chat-log {
  height: auto;
  border: 1px solid #ccc;
  margin: 20px 0 5px 0;
}

.turn {
  border: 3px solid green;
}

li {
  list-style-type: none;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  not supported by any browser */
}
